@import url(https://fonts.googleapis.com/css?family=Orbitron);

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    background: radial-gradient(ellipse, #4270ce, #1e4e96);
    color: #fff;
    font-family: 'Orbitron', cursive;
    font-weight: 300;
    font-size: 14px;
}

div {
    clear: both;
}

h4 {
    font-weight: 300;
    margin: 10px 0;
}

h4 .menu {
    background-image: 
        radial-gradient(circle, #fff 1px, transparent 2px),
        radial-gradient(circle, #fff 1px, transparent 2px),
        radial-gradient(circle, #fff 1px, transparent 2px);
    background-repeat: no-repeat;
    background-position:
        0 -6px,
        0 0,
        0 6px;
    float: right;
    margin-top: -2px;
    height: 15px;
    width: 20px;  
}

.spinner {
    background-image: none, none, none, none, none, none, none, none, none;
    background-size: 6px 6px;
    background-position: 
      0 0,
      6px 0,
      12px 0,
      12px 6px,
      12px 12px,
      6px 12px,
      0 12px,
      0 6px,
      6px 6px;
    background-repeat: no-repeat;    
    float: left;
    margin: -4px 0 0 5px;
    height: 17px;
    overflow: visible;
    width: 17px;  
}

.spinner.spinning {
    animation: spinner 2s linear infinite;
}

dd {
	margin: 0;
}

hr {
	background-color: #fff;
	border: none;
	display: block;
	height: 1px;

}

select {
	background: none;
	border: 1px solid #fff;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-family: 'Orbitron', cursive;
	font-size: 15px;
	height: 30px;
	line-height: 1.4;
	width: 100%;
}

select:focus {
	outline: none;
}

option {
	background: #fff;
	border: none;
	color: #4270ce;
}

.main {
    margin: 0 auto;
    width: 946px;
}

.header {
    display: block;
    font-size: 24px;
    padding: 20px 0;
    text-shadow: 0 0 6px rgba(255, 255, 255, .7);
}

.knob {
	transition: transform .5s ease;
	background: #fff;
	background: rgba(255, 255, 255, .05);
	border-color: #fff;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	display: block;
    margin: 0 auto;
	position: relative;
	width: 50px;
	height: 50px;
}

.knob:after {
	content: '';
	background-color: #fff;
	display: block;
	height: 30%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 2px;
}

.knob.large {
    height: 75px;
    width: 75px;
}

.knob.active {
	transition: none;
	border-color: #eee;
	box-shadow: 0 0 5px 0 #eee, inset 0 0 5px 0 #eee;
}

.knob.active:after {
	background-color: #eee;
	box-shadow: 0 0 5px 0 #eee, inset 0 0 5px 0 #eee;
}

input[type=radio],
input[type=checkbox] {
    clip: rect(0,0,0,0);
    position: absolute;
}

input[type=radio] + label,
input[type=checkbox] + label {
    background: rgba(255, 255, 255, .05);
    border: 1px solid #fff;
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
}

input[type=radio] + label {
    border-radius: 50%;
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 0 #eee, inset 0 0 5px 0 #eee;
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
}

/*
Switch
 */
input[type=checkbox].toggle + label {
    border-radius: 15px;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 45px;
}

input[type=checkbox].toggle + label::after {
    background: #90a8cd;
    border-radius: 50%;
    border: 1px solid #fff;
    content: '';
    display: block;
    height: 20px;
    left : 3px;
    position: absolute;
    top: 3px;
    width: 20px;
}

input[type=checkbox]:checked.toggle + label::after {
    left: auto;
    right: 3px;
}

input[type=checkbox].toggle + label + span {
    vartical-align: middle;
}

input[type=text] {
    background: radial-gradient(ellipse, #fff, #ced);
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #4270ce;
    display: inline-block;
    font-family: 'Orbitron', cursive;
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 5px 5px;
    outline: none;
    padding: 4px;
    text-align: center;
    width: calc(100% - 10px);
}

/* Multi select radio */
.multi-select {
  display: inline-block;
  margin: -3px 0;
}

.multi-select input[type=radio] + label {
  border-radius: 0;
  float: left;
  height: 21px;
  margin: 0 -1px 0 0;
  position: relative;
  width: 21px;
}

.triangle + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background-image: 
    linear-gradient(-45deg, transparent 8px, #fff 8px, #fff 9px, transparent 9px),
    linear-gradient(90deg, transparent 12px, #fff 12px); 
}

.triangle:checked + label:after {
  background-image: 
    linear-gradient(-45deg, transparent 8px, #4270ce 8px, #4270ce 9px, transparent 9px),
    linear-gradient(90deg, transparent 12px, #4270ce 12px); 
}

.square + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background-image: linear-gradient(180deg, #fff 1px, transparent 0),
    linear-gradient(90deg, transparent 12px, #fff 12px),
    linear-gradient(90deg, transparent 6px, #fff 6px, #fff 7px, transparent 7px),
    linear-gradient(90deg, #fff 1px, transparent 1px),
    linear-gradient(0deg, #fff 1px, transparent 0); 
  background-repeat: no-repeat;
  background-size: 7px 13px, 100% 100%, 100% 100%, 100% 100%, 7px 13px;
  background-position: top left, center, center, center, bottom right;
}

.square:checked + label:after {
  background-image: linear-gradient(180deg, #4270ce 1px, transparent 0),
    linear-gradient(90deg, transparent 12px, #4270ce 12px),
    linear-gradient(90deg, transparent 6px, #4270ce 6px, #4270ce 7px, transparent 7px),
    linear-gradient(90deg, #4270ce 1px, transparent 1px),
    linear-gradient(0deg, #4270ce 1px, transparent 0); 
}

.sine + label:before,
.sine + label:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 6px;
  border-style: solid;
  border-color: #fff;
}

.sine + label:after {
  top: 3px;
  left: 3px;
  border-width: 1px 1px 0;
  border-top-left-radius:     4px 7px;
  border-top-right-radius:    4px 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;
}

.sine + label:before {
  bottom: 3px;
  right: 3px;
  border-width: 0 1px 1px;
  border-top-left-radius:     0;
  border-top-right-radius:    0;
  border-bottom-right-radius: 4px 7px;
  border-bottom-left-radius:  4px 7px;
}

.sine:checked + label:before,
.sine:checked + label:after {
  border-color: #4270ce;
}
.button {
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-family: 'Orbitron', cursive;
    font-size: 1.1em;
    line-height: 1;
    margin: 5px 0 0;
    padding: 7px 3px 4px;
    vertical-align: bottom;
}

.button:active,
.button:focus {
    outline: none;
}

.button.active,
.button:active {
    background: rgba(255, 255, 255, .6);
    border-color: #eee;
    box-shadow: 0 0 5px 0 #eee, inset 0 0 5px 0 #eee;
}

.button.active {
    background-color: #fff;
    color: #4270ce;
}

.toggle-grid {
    float: right;
    font-size: 14px;
}

.channels {
    height: 520px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: height .3s ease;
}

.channels.collapse {
    height: 150px;
}

.sequencer {
    height: 300px;
    overflow: hidden;
    transition: height .3s ease;
}

.sequencer.collapse {
    height: 27px;
}

.channel-strip {
    border-right: 1px solid #fff;
    float: left;
    padding-bottom: 30px;
    text-align: center;
    width: 84px;
}

.trigger {
    background: #4270ce;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
}

.channel-strip.large {
    width: 180px;
}

.drumsets {
    line-height: 1;
    padding: 0 10px;
    text-align: left;
}

.drumsets label {
    margin: 0 10px 0 0;
}

.seq-row {
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, .3) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 0);
    background-size: 100% 30px, 27px 1px;
    background-position: left 14px, 13px;
    height: 27px;
    margin-left: 70px;
    width: calc(32 * 27px);
}

.seq-step-leds {
  margin-left: 70px;
}

.seq-step-leds .title,
.seq-row .title {
  display: inline-block;
  margin-left: -70px;
  vertical-align: super;
  width: 70px;
}

.seq-row input[type=checkbox] + label,
.seq-row input[type=radio] + label {
    background-clip: content-box;
    background-color: rgba(255, 255, 255, .8);
    border-color: transparent;
    border-radius: 50%;
    height: 23px;
    margin: 2px 2px 0;
    padding: 7px;
    width: 23px;
}

.seq-row input[type=checkbox]:checked + label,
.seq-row input[type=radio]:checked + label {
    background-color: #fff;
    border-color: #fff;
}

.seq-step-leds input[type=radio] + label {
    height: 19px;
    margin: 7px 4px 0;
    width: 19px;
}

.seq-step-leds input[type=radio]:checked + label {
    background-clip: content-box;
    background-color: #fff;
    border-color: #fff;
    padding: 3px;
}

.connection-block {
    position: relative;
}

.context {
    display: none;
    background: #2c5bab;
    height: calc(100% + 2px);
    padding-top: 15px;
    position: absolute;
    top: -10px;
    width: 100%;
}

.context label {
    float: left;
    height: 29px;
    line-height: 2.5;
    margin-left: 5px;
}

.context .close {
  margin-top: 20px;
  background: transparent;
  height: 15px;
  width: 15px;
  top: -15px;
  right: 2px;
  position: absolute;
} 

.context .close::before, 
.context .close::after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: calc(50% - 2px);
  width: 100%;
  height: 2px;
  background: #fff;
}

.context .close::after {
  transform: rotate(-45deg);  
}

.context input[type=text] {
    background: transparent;
    border-bottom: 1px solid #fff;
    border-width: 0 0 1px;
    border-radius: 0;
    color: white;
    float: right;
    font-size: 12px;
    width: 90px;
}

@keyframes spinner {
  0% {
    background-image: none;
  }
  5.555% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  11.11% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  16.665% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  22.22% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  27.775% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  33.33% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  38.885% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  44.44% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  49.995% {
        background-image: 
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  55.55% {
        background-image: 
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  61.105% {
        background-image: 
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  66.66% {
        background-image: 
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  72.215% {
        background-image: 
      none,
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  77.77% {
        background-image: 
      none,
      none,
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  83.325% {
        background-image: 
      none,
      none,
      none,
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  88.88% {
        background-image: 
      none,
      none,
      none,
      none,
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px),
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  94.435% {
        background-image: 
      none,
      none,
      none,
      none,
      none,
      none,
      none,
      none,
      radial-gradient(circle, #fff 1px, transparent 2px);
  }
  100% {
    background-image: none;
  }
}

